<!DOCTYPE html>
<html>
<head>
  <title>Booking Details</title>
  <link rel="stylesheet" type="text/css" href="/booking_id.css">
</head>
<body>
  <h1>Booking Details</h1>
  <% if logged_in? %>
    <% if @booking %>
      <p>Reference ID: <%= @booking.id %></p>
      <p>Space Name: <a href="/space/<%= @booking.space_id %>"> <%= @space.name %></a></p>
      <p>Request From: <%= @user.username %></p>
      <p>Start Date: <%= @booking.start_date %></p>
      <p>End Date: <%= @booking.end_date %></p>
      <p>Contents from requester: <%= @booking.contents %></p>
      <p>Status: <%= @booking.status %></p>
    <% else %>
      <p>Booking not found.</p>
    <% end %>
  <% else %>
    <p>You must be logged in to view booking details. Please <a href="/login">log in</a>.</p>
  <% end %>
</body>
</html>
