<!DOCTYPE html>
<html>
<head>
  <title>MAKERS BnB - Delete Space</title>
  <link rel="stylesheet" type="text/css" href="/space_style.css">
  <link rel="stylesheet" type="text/css" href="/cancel_button_style.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="header">
        <h1 class="heading">Delete Space</h1>
      </div>
      <div class="space-info-box">
        <h2 class="info-heading">Are you sure you want to delete this space?</h2>
        <p class="info-text"><strong>Name:</strong> <%= @space.name %></p>
        <p class="info-text"><strong>Description:</strong> <%= @space.description %></p>
        <p class="info-text"><strong>Price:</strong> $<%= @space.price %></p>
        <p class="info-text"><strong>Availability:</strong> Start Date: <%= @space.start_date %>, End Date: <%= @space.end_date %></p>

        <form action="/space/<%= @space.id %>/delete" method="post">
          <button type="submit" class="delete-button">Delete</button>
          <a href="/profile"><input type="button" value="Cancel"></a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
