<!DOCTYPE html>
<html>
<head>
  <title>Delete Booking</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Delete Booking</h1>
  <% if logged_in? %>
    <% if @booking %>
      <p>Are you sure you want to delete the following booking?</p>
      <p>Booking ID: <%= @booking.id %></p>
      <p>Space ID: <%= @booking.space_id %></p>
      <p>User ID: <%= @booking.user_id %></p>
      <p>Start Date: <%= @booking.start_date %></p>
      <p>End Date: <%= @booking.end_date %></p>
      <p>Contents: <%= @booking.contents %></p>
      <p>Status: <%= @booking.status %></p>
      <form action="/space/<%= @booking.space_id %>/new_booking/<%= @booking.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    <% else %>
      <p>Booking not found.</p>
    <% end %>
  <% else %>
    <p>You must be logged in to delete a booking. Please <a href="/login">log in</a>.</p>
  <% end %>
</body>
</html>
