<!DOCTYPE html>
<html>
<head>
  <title>Booking Requests</title>
  <link rel="stylesheet" type="text/css" href="/booking_requests.css">
</head>
<h1>Incoming Requests</h1>
<% if @incoming_requests.empty? %>
  <p>You currently have no booking requests.</p>
<% else %>
<% @incoming_requests.each do |request| %>
  <div>
    <h2>Booking Request ID: <%= request.id %></h2>
    <p>Space Name: <%= BookingRepository.find_space_name(request.space_id) %></p>
    <p>Start Date: <%= request.start_date %></p>
    <p>End Date: <%= request.end_date %></p>
    <p>Status: <%= request.status %></p>
    <div class="actions">
      <% if request.status == 'pending' %>
      <div class="approve-decline">
        <form action="/requests/approve/<%= request.id %>" method="post">
          <button type="submit">Approve</button>
        </form>
        <form action="/requests/decline/<%= request.id %>" method="post">
          <button type="submit">Decline</button>
        </form>
      </div>
      <% end %>
      <div class="view-request">
      <a href="/space/<%= request.space_id %>/new_booking/<%= request.id %>">View Request</a>
      </div>
    </div>
  </div>
<% end %>
<% end %>

<h1>Sent Requests</h1>
<% if @sent_requests.empty? %>
  <p>You currently have no sent requests.</p>
<% else %>
<% @sent_requests.each do |request| %>
  <div>
    <h2>Booking Request ID: <%= request.id %></h2>
    <p>Space Name: <%= BookingRepository.find_space_name(request.space_id) %></p>
    <p>Start Date: <%= request.start_date %></p>
    <p>End Date: <%= request.end_date %></p>
    <p>Status: <%= request.status %></p>
    <a href="/space/<%= request.space_id %>/new_booking/<%= request.id %>">View Request</a>
  </div>
<% end %>
<% end %>